:root{
  /********* Colors  *********/
  --Light-Green: #bfdf32;
  --Very-dark-blue: #15242b;
  --Orange: #f3613c;
  --White: #fff;

  /********** Fonts  **********/
  --Font-weight: 700;

  /* Dark mode Elements */
  --Very-Dark-green: #15242b;
  /* --Very-Dark-green: #3f6883; */
  --Card-color: #1e1e26;

  --Orange: #f3613c;
}

body {
  background: hsl(180, 52%, 96%);
  font-size: 1em;
}

*{
  transition: 0.3s;
  padding: 0;
  margin: 0;
}


/********** Animation Effect **********/
.hidden { 
  opacity: 0;
  filter: blur(2px);
  transform: scale(0) translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: scale(1) translateX(0);
}


h1 {
  font-weight: var(--Font-weight) !important;
}

.cursor{
  cursor: pointer;
}


.scrollColor {
  color: var(--Very-Dark-green) !important;
}



/************* Navbar component styling  *************/
header{
  width: 100%;
  z-index: 999;
  transition: 0.3s;
  position: fixed;
  top: 0;
}

.scroll{
  transition: 0.3s;
  background-color: var(--White);
}

.logo-container {
  cursor: pointer;
  border: none !important;
  background: transparent !important;
}

.logo-container .logo-img {
  width: 70px;
  height: 50px;
  position: relative;
}

.logo-container .logo-img img{
  width: 100%; 
  height: 100%; 
  position: absolute;
}

header a{
 transition: 0.3s;
 transform: scale(1);
 border-radius: 30px;
 color: var(--White);
 border: 1px solid transparent;
}


header a:hover{
  transition: 0.3s;
  transform: scale(0.9);
  color: var(--Orange) !important;
  border: 1px solid var(--Orange);
  background: var(--White);
}

header .mobile, .hambuger {
  display: none;
}


/************* Banner component styling *************/
.Banner{
  background: linear-gradient(rgba(0, 0, 0, 0.9), 
  rgba(0, 0, 0, 0.9)), 
  url('../img/banner_bg.jpeg') no-repeat;
 
  background-size: cover;
  background-position: center;
  width: 100%;
}

.Banner h1 {
  color: var(--Light-Green);
  opacity: 0.3;
}



/************* Button component styling *************/
button{
  border-radius: 30px !important;
  background: var(--Orange) !important;
  border: none !important;
  transition: 0.3s;
}

button:hover{
 background: #15242b !important;
}




/************* Content two component styling  *************/
/************* Content two component styling  *************/
.contentTwo{
  background: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), 
  url('../img/Donate_img.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  /* background: #f1f5f8 !important; */
}

.layer{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.contentTwo .container .title {
    position: relative;
}
  
.title::after{
    content: '';
    position: absolute;
    width: 5%;
    height: 3px;
    left: 47.5%;
    border-radius: 10px;
    background: var(--Very-dark-blue);
}

.contentTwo .card-container{
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.contentTwo .card-container .main-card {
  background: hwb(0 23% 76% / 0.5) !important;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.8s;
  color: #f1f5f8;
}

.contentTwo .card-container .main-card:hover {
  transform: scale(1.1);
}



/************ Content four styling  ************/
.Content-four{
  margin-top: 2em;
  background: var(--Very-Dark-green);
}

.Content-four .card{
  flex: 1;
  cursor: pointer;
  color: #f1f5f8;
  background: var(--Orange);
  border: none !important;
}

.Content-four .card:hover{
  background: rgba(25, 40, 46, 0.899);
}


  

/****************** Donation Page styling  ******************/
.Fundraiser {
  border-radius: 8px;
}

.Fundraiser p, .about p {
  text-align: justify;
  line-height: 30px;
}

.Fundraiser .fundraiser-img { 
  width: 100px;
  height: 100px;
  position: relative;
}

.Fundraiser .fundraiser-img img{ 
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50px;
}

.Fundraiser .address {
  color: var(--Cyan);
}

.Fundraiser .event-img {
  width: 400px;
  max-width: 100%;
  height: 250px;
  position: relative;
}

.Fundraiser .event-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
}
/* Preloader styles */

.layer{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
position: fixed;
visibility: hidden;
opacity: 0;
right: 15px;
bottom: 15px;
z-index: 996;
/* background: #5846f9; */
background: var(--Very-Dark-green);
border: 1px solid #999;
width: 40px;
height: 40px;
border-radius: 4px;
transition: all 0.4s;
}

.back-to-top i {
font-size: 28px;
color: #fff;
line-height: 0;
}

.back-to-top:hover {
background: var(--Orange);
color: #fff;
}

.back-to-top.active {
visibility: visible;
opacity: 1;
}
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #5846f9;
  border-top-color: #e7e4fe;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

  
  
  
  header .mobile .d-flex{
    display: none !important;
  }
  @media(max-width: 772px) { /*** Mobile screen styling  ***/
    /***** Navbar moblie styling  ****/
    .logo-container .logo-img {
      width: 40px;
      height: 40px;
    }

    header .hambuger {
      display: block;
    }

    header .desktop {
      display: none;
    }
    
    header ul{
      list-style: none;
    }
  
    .mobile{
      display: none;
    }
  
    header .mobile .d-flex {
      display: flex !important;
      flex-direction: column !important;
      position: absolute;
      width: 100% !important;
      left: 0;
      padding: 3em;
      background-color: #15242b;
      top: 5em;
      z-index: 999;
    }
  
    /******* Banner Moblie styling  *******/
    .Banner p{
      text-align: center;
      font-size: 1.1em;
    }
  
    p{
      text-align: justify;
    }


    .contentTwo .card-container {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
  }


  @media (max-width: 506px) {
    .Fundraiser .event-img{
      max-height: 200px;
    }

    .Fundraiser .fundraiser-img { 
      width: 50px;
      height: 50px;
    }
  }
  

  